<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uta.mysyllabi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:name="edu.uta.mysyllabi.MySyllabi"
        android:allowBackup="true"
        android:icon="@drawable/mysyllabi"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SelectCourse"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:icon="@drawable/mysyllabi"
            android:name=".CreateCourse"
            android:label="@string/title_activity_create_course" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.uta.mysyllabi.SelectCourse" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>
